<div class="main">
  <div class="top-header">
    <mat-list role="list" class="top-icons">
      <mat-list-item role="listitem"><a href="#">Gmail</a>
      </mat-list-item>
      <mat-list-item role="listitem"><a href="#">Images</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="c-p mr-15 ">apps</mat-icon>

        <mat-list-item role="listitem"><a href="#">
            <mat-icon>account_circle</mat-icon>
          </a></mat-list-item>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="main-content">
    <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">
    <form>
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput>
        <img matSuffix src="./assets/icon.png">
      </mat-form-field>

    </form>
    <div class="d-flex">
      <button mat-stroked-button class="mr-15">Google Search</button>
      <button mat-stroked-button>I'm Feeling Lucky</button>
    </div>
    <ul class="language">
      <li>Google offered in:</li>
      <li><a herf="#">chiShona</a></li>
      <li><a herf="#">siNdebele</a></li>
      <li><a herf="#">Chichewa</a></li>
      <li><a herf="#">Setswana</a></li>
    </ul>
  </div>
  <mat-toolbar>
    <span>Zimbabwe</span>
  </mat-toolbar>
</div>